<!DOCTYPE html>
<html>
    <head>
        <title>New Contact Added</title>
    </head>

    <body>
        <h1>You added a new contact!</h1>
        <p>Name: {{ newcontact.getName }}</p>
        <p>Number: {{ newcontact.getPhone }}</p>
        <p>Address: {{ newcontact.getAddress }}</p>
        <br>
        <p><a href='/'>View your contacts.</a></p>
    </body>
</html>
