<!DOCTYPE html>
<html>
    <head>
        <title>Contact List</title>
    </head>

    <body>
        <h1>You have successfully deleted all contacts</h1>
        <p><a href='/'>Home</a></p>
    </body>
</html>
